.gradle
.nb-gradle
*.iml
.idea/**
build/**
out/**
annotation/build/**
annotation/out/**
api/build/**
api/out/**
core/build/**
core/out/**
ootb-jfx-common/build/**
ootb-jfx-common/out/**
ootb-jfx-jdk11/build/**
ootb-jfx-jdk11/out/**
fenxui/build/**
fenxui/out/**
samples-jfx/build/**
samples-jfx/out/**